<section id="section-{{ section.id }}" style="margin-top: 50px; margin-bottom: 50px;">
  <main>
    <div class="first-block-col">
      <a class="first-block-first-a">
        <div class="first-block-first-box">
          <span class="span_ii">
            <span class="trending-span optima-h1-normal mb-[0.40rem] md:mb-0"></span>
          
              {% comment %} <span class="first-block-first-box-header zapf-text-small optima-h1-normal">
                <span class="zapf-text-large">Shine. Repeat.</span>
              </span> {% endcomment %}
              <span class="first-block-first-box-header optima-h1-normal first-line:max-w-[492px] translate-x-[-1px]">
                DNA’ndan Gelen Güç: 
              </span>
              <span class="first-block-first-box-header optima-h1-normal first-line:max-w-[492px] translate-x-[-1px]" style="margin-top: -15px;">Daha Sağlıklı Bir Yaşam İçin.</span>

              {% comment %} <span class="first-block-first-box-text font-avenir max-w-[300px] md:max-w-[492px] text-[17px]" style="color: white;">
                It’s back to the city and back to routines, meaning it’s time to shine and repeat! Discover our pieces of sustainable fine jewelry that will make you sparkle brighter than the city lights.
              </span> {% endcomment %}
              <span class="first-block-first-box-text font-avenir max-w-[300px] md:max-w-[492px] font-[17px]">
                Falcongene, ileri düzey genetik analizler ile intoleranslarından spor yatkınlığına, cilt özelliklerinden beslenme gereksinimlerine kadar sana özel bilimsel raporlar sunar.
              </span>

            
          </span>
        </div>
      </a>
      <div class="first-block-second-box-a" style="width: 50%; overflow: hidden;">
        <div class="first-block-second-box">
            <a class="col-img-container" href="/collections/testlerimiz">
            <img class="" alt="Falcongene Kit"  src="https://cdn.shopify.com/s/files/1/0789/8841/1096/files/realOpenedBox.jpg?v=1764245458" width="850" height="750" loading="lazy">
            </a>
          <span class="custom-col-content">
            <a style="width: 100%;" href="/collections/testlerimiz">
              <button class="text-[18px] font-avenir-medium"><h2>Falcongene Kit</h2></button>
              </a>
          </span>
        </div>
      </div>
    </div>

            <div class="second-block-col one">
                    <div style="width: 33.33%;margin-right: 10px;overflow: hidden;" class="ccl-one">
                      <div class="second-block-first-box">
                        <a class="col-img-container" href="/collections/testlerimiz">
                        <img alt="Beslenme" src="https://cdn.shopify.com/s/files/1/0789/8841/1096/files/photo-1555243896-c709bfa0b564.jpg?v=1764316961" width="550" height="700" loading="lazy">
                        </a>
                        <span class="custom-col-content">
                          <a style="width: 100%;" href="/collections/testlerimiz">
                          <button class="text-[18px] font-avenir-medium"><h2>Beslenme</h2></button>
                          </a>
                          </span>
                          </div>
                          </div>
                          
                          <div style="width: 33.33%;margin-right: 10px;overflow: hidden;" class="ccl-three">
                            <div class="second-block-second-box">
                              <a class="col-img-container" href="/collections/testlerimiz">
                              <img alt="Cilt" 
                              src="https://cdn.shopify.com/s/files/1/0789/8841/1096/files/photo-1551184451-76b762941ad6.jpg?v=1764316960" width="550" height="700" loading="lazy">
                              </a>
                              <span class="custom-col-content">
                                <a style="width: 100%;" href="/collections/testlerimiz">
                                <button class="text-[18px] font-avenir-medium"><h2>Cilt</h2></button>
                                </a>
                                </span>
                                </div>
                                </div>
                                
                                <div style="width: 33.33%; overflow: hidden; margin-right: 0px;" class="ccl-four">
                                  <div class="second-block-third-box">
                                    <a class="col-img-container" href="/collections/testlerimiz">
                                    <img alt="Fine Bracelets" class="Image--lazyLoad Image--fadeIn"
                                     src="https://cdn.shopify.com/s/files/1/0789/8841/1096/files/photo-1728486144678-95cb7c5f7463.jpg?v=1764316960" width="550" height="700" loading="lazy">
                                    </a>
                                    <span class="custom-col-content">
                          <a style="width: 100%;" href="/collections/testlerimiz">
                          <button class="text-[18px] font-avenir-medium"><h2>Spor-Kas</h2></button>
                          </a>
                        </span>
                      </div>
                    </div>
          </div>
          {% comment %} <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div style="width: 48%;">
              <a class="" href="/collections/necklaces">
                    <img class="" alt="A woman's neck in a white shirt adorned with Eternate's yellow gold necklace and rings."  src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_181.png?v=1726558013" >
              </a>
              <a class="custom-mobile-btn" style="width: 100%;" href="/collections/necklaces">
                    <button class="text-[18px] font-avenir-book"><h2>Solitaire Pendants</h2></button>
              </a>
            </div>
            <div style="width: 48%;">
              <a class="" href="/collections/necklaces">
                    <img class="" alt="A woman's neck in a white shirt adorned with Eternate's yellow gold necklace and rings."  src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_181.png?v=1726558013" >
              </a>
              <a class="custom-mobile-btn" style="width: 100%;" href="/collections/necklaces">
                    <button class="text-[18px] font-avenir-book"><h2>Solitaire Pendants</h2></button>
              </a>
            </div>
            <div style="width: 48%;">
              <a class="" href="/collections/necklaces">
                    <img class="" alt="A woman's neck in a white shirt adorned with Eternate's yellow gold necklace and rings."  src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_181.png?v=1726558013" >
              </a>
              <a class="custom-mobile-btn" style="width: 100%;" href="/collections/necklaces">
                    <button class="text-[18px] font-avenir-book"><h2>Solitaire Pendants</h2></button>
              </a>
            </div>
            <div style="width: 48%;">
              <a class="" href="/collections/necklaces">
                    <img class="" alt="A woman's neck in a white shirt adorned with Eternate's yellow gold necklace and rings."  src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_181.png?v=1726558013" >
              </a>
              <a class="custom-mobile-btn" style="width: 100%;" href="/collections/necklaces">
                    <button class="text-[18px] font-avenir-book"><h2>Solitaire Pendants</h2></button>
              </a>
            </div>
          </div> {% endcomment %}
      <div class="second-block-col two">
                <div style="margin: 0 5px 5px 0; overflow: hidden;width: calc(50% - 2.5px);" class="last_iii ccl-two">
                <div class="second-block-fourth-box">
                  <a class="col-img-container" href="/collections/testlerimiz">
                  <img class="" alt="Wedding rings" src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_185_68c9d201-ca5a-4681-a98a-014bd00036b2.png?v=1764071123" loading="lazy" width="203" height="270">
                  </a>
                  <span class="custom-mobile-btn">
                    <a style="width: 100%; margin: auto;" href="/collections/testlerimiz">
                    <button class="text-[14px] font-avenir-medium"><h2>Engagement Rings</h2></button>
                    </a>
                  </span>
                </div>
              </div>

              <div style="margin: 0 0 5px 0; overflow: hidden; width: calc(50% - 2.5px);" class="ccl-three" >
              <div class="second-block-second-box">
                <a class="col-img-container" href="/collections/testlerimiz">
                  <img class="" alt="Tennis Necklaces"  src="https://cdn.shopify.com/s/files/1/0673/1087/8860/files/Rectangle_186.png?v=1764149142" loading="lazy" width="203" height="270">
                </a>
                <span class="custom-mobile-btn">
                  <a style="width: 100%; margin: auto;" href="/collections/testlerimiz">
                  <button class="text-[14px] font-avenir-medium"><h2>Personalized Gifts</h2></button>
                  </a>
                  </span>
              </div>
            </div>

            <div style="margin: 0 5px 0 0; overflow: hidden; width: calc(50% - 2.5px);" class="ccl-four">
            <div class="second-block-third-box">
              <a class="col-img-container" href="/collections/testlerimiz">
              <img alt="Earrings" src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/HAMED06032024-ANNA01647-wrk_4_f4383d3d-9d49-49ec-a814-e6d15a13c5a9.png?v=1764071123" loading="lazy" width="203" height="270">
              </a>
              <span class="custom-mobile-btn" style="margin-top: 8px;">
                <a style="width: 100%; margin: auto;" href="/collections/testlerimiz">
                <button class="text-[14px] font-avenir-medium"><h2>Birthstone Jewelry</h2></button>
                </a>
              </span>
            </div>
          </div>
              <div style="overflow: hidden; width: calc(50% - 2.5px);" class="ccl-one" >
                  <div class="second-block-first-box">
                    <a class="col-img-container" href="/collections/testlerimiz">
                    <img alt="A woman's ear adorned with Eternate's yellow gold hoop earrings." src="https://cdn.shopify.com/s/files/1/0484/1429/4167/files/Rectangle_184_9c91e567-1587-409a-9b8c-5a514e0f84d8.png?v=1764071123" loading="lazy" width="203" height="270">
                    </a>
                    <span class="custom-mobile-btn" style="margin-top: 8px;">
                      <a style="width: 100%; margin: auto;" href="/collections/testlerimiz">
                      <button class="text-[14px] font-avenir-medium"><h2>Charms</h2></button>
                      </a>
                  </span>
                </div>
            </div>
        </div>
  </main>
</section>

<style>
  @media (min-width: 768px) {
  .custom-col-content button {
    min-width: 202px;
    font-size: 14px;
}
#section-{{ section.id }}
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
}
#section-{{ section.id }}
  img {
    width: 100%;
    object-fit: cover;
}


  #section-{{ section.id }} * {
    box-sizing: border-box;
  }
  #section-{{ section.id }}
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #section-{{ section.id }}
  img {
    transition: 0.25s ease-in-out;
  }
  #section-{{ section.id }} img:hover {
    scale: 1.03;
  }

  .col-img-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: 100%;
  }

  .first-block-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .second-block-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media(min-width: 1008px) {
      margin-top: 10px;
    }
  }

  .first-block-col a {
    width: 50%;
    overflow: hidden;
  }
  .second-block-col a {
    width: 33.33%;
    margin-right: 10px;
    overflow: hidden;
  }
  .first-block-first-a {
    cursor: pointer;
  }

  @media(max-width: 1008px) {
    .second-block-col.one {
      display: none;
    }
    .zapf-text-large {
      font-size: 27px !important;
    }

    .first-block-col {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .second-block-col {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

    }
    .first-block-col a {
      width: 100%;
      overflow: hidden;
      margin: 0;
    }
    .second-block-col a {
      width: calc(50% - 2.5px);
      margin: 0;
      overflow: hidden;
    }
    .second-block-col a:nth-of-type(1),
    .second-block-col a:nth-of-type(3) {
      margin-right: 5px;
    }
    .second-block-col a:nth-of-type(1),
    .second-block-col a:nth-of-type(2) {
      margin-bottom: 5px;
    }
    .first-block-first-a {
      margin-bottom: 5px !important;
      cursor: pointer;
    }
    .first-block-second-box-a {
      display:none;
    }

  }


  /* First Box */

  .first-block-first-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    align-items: flex-start;
    position: relative;
    padding-left: 50px;
    width: 100%;
    padding-top: 110%;
    /* background-color: #6B7773; */
    /* background-color: #FBFAF6; */
    background-color: #0d1b2a;
  }
  .span_ii {
    color:white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    padding: 1rem 3rem 1rem 3rem;
    transform: translateY(50%);

  }
  .first-block-first-box-header {
    font-size: 44px;
  }
  .first-block-first-box-text {
    margin-top: 1rem;
    font-size: 17px;
  }
  .trending-span {
    font-size: 21px;
    line-height: 3px;
  }

  @media(max-width: 641px) {
    .first-block-first-box-header {
      font-size: 30px;
    }
    .first-block-first-box-text {
      font-size: 14px !important;
    }
    .first-block-first-a {
      margin-right: 10px;
    }
    .first-block-first-box {
      padding-left: 0;
      margin: auto;
      align-items: center;
    }
    .span_ii {
      left: 30px;
    }
    #svg-perfect {
      width: 35% !important;
    }
  }
  @media(max-width: 450px) {
    .first-block-first-box-header {
      font-size: 28px;
    }
  }

  @media(min-width: 1008px) {
    .second-block-col a:nth-of-type(4){
      margin-right: 0px;
    }
    .second-block-col.two {
      display: none;
    }
    .first-block-first-a {
      margin-right: 10px;
    }
  }

  /* Second Box */

  .first-block-second-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-left: 20px;
    color: white;
    width: 100%;
    padding-top: 110%;
    {% comment %} background-color: #C8886C; {% endcomment %}
    
  }

  /*  Others Box */
  .second-block-first-box,
  .second-block-second-box,
  .second-block-third-box,
  .second-block-fourth-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: white;
    width: 100%;
    padding-top: calc(1.60 * 80%);


  }

  /*  All */
  .custom-col-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 20px;


  }
  .custom-col-content span {
    font-size: 22px;
    transition: all 0.25s ease-in-out;
  }
  .custom-col-content button {
    /* width: 247px; */
    border: 1px solid #4F132F;
    margin-top: 1rem;
    /* padding: 7px 20px; */
    color: #ffffff;
    /* background-color: #6B7773; */
    background-color: #4F132F;
    transition: all ease-in 0.3s;
    height: 40px;

    @media(max-width: 641px) {
      width: 100%;
    }

  }
  .custom-mobile-btn {
    /* width: 247px; */
    {% comment %} border: 1px solid #F3EDE1; {% endcomment %}
    margin-top: 7px;
    /* padding: 7px 20px; */
    color: #fff;
    background-color: #4F132F;
    transition: all ease-in 0.3s;
    height: 3.5rem;
    /* align-content: center; */
    text-align: center;
    display: flex;
    z-index: 99;
    padding: 10px;
    height: 40px;
    
  }
  /* @media(max-width: 641px) { */
  @media(max-width: 1008px) {
    .custom-mobile-btn {
    width: 100%;
    }
  }
  
  .custom-col-content button:hover {
    /* border: none; */
    background-color: transparent;
    color: #6B7773;


  }

  @media(max-width: 1008px) {
    .custom-col-content {
      width: 90%;
      bottom: 10px;
      left: 5%;

    }
    .custom-col-content span {
      font-size: 15px;
      line-height: 1.2;
    }
    .custom-col-content button {
      width: 100%;
      font-size: 14px;
      margin-top: 0.3rem;
      padding: 3px 10px;
    }
  }

  .last_iii {
    display: none;
  }


  @media(min-width: 1500px) {

    #section-{{ section.id }} {
      margin: 0 calc( 90px + (var(--horizontal-spacing-four-products-per-row) / 2));
    }
  }
  @media(min-width: 1008px) and (max-width: 1500px) {

    #section-{{ section.id }} {
      margin: 0 calc((var(--horizontal-spacing-four-products-per-row) / 2));
    }
  }
  @media(max-width: 1008px) {
    #section-{{ section.id }} {
      margin: 0 10px;
    }
    .last_iii {
      display: initial;
    }

  }
  @media(min-width: 1008px) {
    .third_iii {
      margin-right: 0 !important;
    }
  }

  .zapf-text-small {
    color: #000;
    {% comment %} font-family: "ZapfHumnst BT"; {% endcomment %}
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .zapf-text-large {
    color: white;
    {% comment %} font-family: "ZapfHumnst BT"; {% endcomment %}
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .first-block-first-box-text {
    color: white;
    font-family: 'avenir-medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
</style>

{% schema %}
{
  "name": "Collection Grid Showcase",
  "settings": [
    {
      "type": "header",
      "content": "Bölüm Ayarları"
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Üst Boşluk",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Alt Boşluk",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "featured_box",
      "name": "Öne Çıkan Kutu",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Arkaplan Rengi",
          "default": "#4F132F"
        },
        {
          "type": "text",
          "id": "title_line_1",
          "label": "Başlık 1. Satır",
          "default": "Spread the"
        },
        {
          "type": "image_picker",
          "id": "title_icon",
          "label": "Başlık İkonu (SVG)"
        },
        {
          "type": "text",
          "id": "title_line_2",
          "label": "Başlık 2. Satır",
          "default": "Repeat."
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Açıklama Metni",
          "default": "The holiday season is here, and it's time to spread the joy and repeat!"
        }
      ]
    },
    {
      "type": "collection_card",
      "name": "Koleksiyon Kartı",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Kart Görseli"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Kart Başlığı",
          "default": "Collection Name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Kart Linki"
        },
        {
          "type": "select",
          "id": "size",
          "label": "Kart Boyutu",
          "options": [
            { "value": "large", "label": "Büyük" },
            { "value": "medium", "label": "Orta" },
            { "value": "small", "label": "Küçük" }
          ],
          "default": "medium"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Grid Showcase",
      "blocks": [
        {
          "type": "featured_box"
        },
        {
          "type": "collection_card",
          "settings": {
            "title": "Engagement Rings",
            "size": "large"
          }
        },
        {
          "type": "collection_card",
          "settings": {
            "title": "Personalized Gifts",
            "size": "medium"
          }
        },
        {
          "type": "collection_card",
          "settings": {
            "title": "Charms",
            "size": "medium"
          }
        },
        {
          "type": "collection_card",
          "settings": {
            "title": "Birthstone Jewelry",
            "size": "medium"
          }
        }
      ]
    }
  ]
}
{% endschema %}

